.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("sprite/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 153.6em;
}

.no-svg .icon:before {
    background-image: url("sprite/sprite.png");
}



  .icon.comment-white-oval-bubble:before {
      background-position: 0em 0em;
      width: 51.1626em;
      height: 51.1627em;
  }




  .icon.down-arrow:before {
      background-position: 0em -51.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.eye:before {
      background-position: 0em -102.4em;
      width: 51.2em;
      height: 51.2em;
  }





